.about-title{
    margin-top: 20px;
    text-align: center;
    color: black;
    width: 100%;
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 3px 0px;
}
#header{
    font-weight: 750;
}