#home-container{
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: 0;
    height: 100%;
}
#home-container .carousel-inner, 
#home-slideshow .carousel-item {
    height: 500px;
    width: 100%;
}
.thumbnail{
    height: 100%;
    width: 100%;
    border-style: solid; 
    border-color: white;
    border-width: 3px;
    object-fit: cover;
}

.welcome-text {
    margin-bottom: 20px;
    color: white;
    
}
.welcome-text h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.description-content {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
}

