.container{
    width: 100%;
}

.description-content{
    text-align: center;
    
}
h1{
    color: black;
}

.link-to-team{
    background-color: blueviolet;
    color: white;
    font-size: 24px;
    width: 100%;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 20px;
    
    transition: background-color 0.3s ease;
}
.link-to-team:hover{
    background-color: rgb(71, 29, 110);
}
.news-panel h2{
    text-align: center;
    
    width: 100%;
    font-size: 36px;
    
}
.leader-name{
    transition: width 2s;
    font-size: 24px;

}
.contact-section{
    background-color: black;
    color:white;
    width: 100%;
    height: 50vh;
    margin-top: 20px;
}
.contact-title{
    padding: 20px;
    color: white;
}
button{
    border: none;
}