.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
.navbar-logo {
    padding-left: 20px;
    font-size: 36px;
    transition: all 0.3s ease;
}
.navbar-logo:hover{
    margin-left: 10px;
}
.navbar-body{
    display: flex;
    justify-content: space-evenly;
    
}
.navbar-link{
    
    border: none;
    
    
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
   
}
.navbar-link button{
    display: block;
    padding: 10px;
    border-radius: 6px;
    background-color: rgb(79, 187, 255);
    color: white;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    
    transition: background-color 0.3s ease;
}
.navbar-link button:hover{
    background-color: rgb(58, 139, 189);
    
}
