.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.nav-item{
    border-style: solid;
    border-color: #066275;
    border-width: 0;
    transition: all 0.3s ease;
}
.nav-item:hover{
    border-width: 0 0 3px 0;
}
.navbar-logo {
    transition: all 0.3s ease;
}
.navbar-logo:hover {
    margin-left: 10px;
}
